
#map {
  height: 40%;
}

.viewers{
    display: flex;
}

.pannellum-container{
    width: 850px;
    height: 420px;
}

.controllers{
    display: flex;
}

.controller-container{
    width: 850px;
    height: 25px;
}
